.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    margin:20px;
}
.form {
    width: 800px;
    border-radius: 5px;
}
.form_item {
    margin: 20px;
}
.btn_div {
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 850px) {
    .form {
        width: 600px;
    }
}
@media only screen and (max-width: 650px) {
    .form {
        width: 400px;
    }
}
@media only screen and (max-width: 450px) {
    .form {
        width: 300px;
    }
}